@import url('http://fonts.cdnfonts.com/css/poppins');

$color : (
    primary: #20a8d8,
    secondary: #6c757d,
    success: #43a326,
    info: #17a2b8,
    warning: #f8cb00,
    danger: #f86c6b,
    light: #efefef,
    dark: #272727,
    grey: #d4d4d4,
    black: #222222,
    white: #fff,
    red : #e80000,
    transparent: transparent,
);

$breakpoint : (
    sm : 2,
    md: 3,
    lg: 4,
    xl: 5
);

.font-bold{
    font-weight: 600;
}

.font-black{
    font-weight: 800;
}

.font-light{
    font-weight: 300;
}


@each $key, $value in $breakpoint {
    .avatar-#{$key} {
        width: $value * 1.2rem;
        height: $value * 1.2rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: map-get($color, light);
    }

    .text-#{$key} {
        font-size: $value * 0.4rem;
    }

    .rounded-#{$key}{
        border-radius: $value * 2px;
    }
}

@mixin flex-box($align: center, $justify: center)
{
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@each $name, $color in $color {
    .bg-#{$name} {
        background-color: $color !important;
    }
    .bg-light-#{$name} {
        background-color: lighten($color: $color, $amount: 40);
    }
    .text-#{$name} {
        color: $color !important;
    }
    .border-#{$name} {
        border: 1px solid $color !important;
    }
}

@for $i from 1 through 24 {
// padding
    .p-#{$i} {
        padding: #{$i * 0.3}rem !important;
    }
    .pt-#{$i} {
        padding-top: #{$i * 0.3}rem !important;
    }
    .pr-#{$i} {
        padding-right: #{$i * 0.3}rem !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i * 0.3}rem !important;
    }
    .pl-#{$i} {
        padding-left: #{$i * 0.3}rem !important;
    }
    .px-#{$i} {
        padding-left: #{$i * 0.3}rem !important;
        padding-right: #{$i * 0.3}rem !important;
    }
    .py-#{$i} {
        padding-top: #{$i * 0.3}rem !important;
        padding-bottom: #{$i * 0.3}rem !important;
    }

// margin
    .m-#{$i} {
        margin: #{$i * 0.3}rem !important;
    }
    .mt-#{$i} {
        margin-top: #{$i * 0.3}rem !important;
    }
    .mr-#{$i} {
        margin-right: #{$i * 0.3}rem !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i * 0.3}rem !important;
    }
    .ml-#{$i} {
        margin-left: #{$i * 0.3}rem !important;
    }
    .mx-#{$i} {
        margin-left: #{$i * 0.3}rem !important;
        margin-right: #{$i * 0.3}rem !important;
    }
    .my-#{$i} {
        margin-top: #{$i * 0.3}rem !important;
        margin-bottom: #{$i * 0.3}rem !important;
    }

    // grid
    .grid-#{$i} {
        display: grid;
        grid-template-columns: repeat(#{$i}, auto);
    }

    .gap-#{$i} {
        row-gap: #{$i * 0.3}rem;
        column-gap: #{$i * 0.3}rem;
    }
}

.flex-center{
    @include flex-box();
}

.flex-between{
    @include flex-box(center, space-between);
}

.flex-start{
    @include flex-box(center,flex-start);

    li{
        margin-right: 2rem;
        list-style: none;

        &:before{
            content: '';
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            // get color red
            background-color: map-get($color, red); 
            border-radius: 50%;
            margin-right: 1rem;
        }

        a{
            font-weight: 500;
            color : map-get($color, black);
            text-decoration: none;
        }
    }
}

.flex-evenly{
    @include flex-box(center, space-evenly);
}

.flex-around{
    @include flex-box(center, space-around);
}
.flex-col-center{
    @include flex-box();
    flex-direction: row;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-y-scroll{
    overflow-y: scroll;
}

.overflow-x-scroll{
    overflow-x: scroll;
}



body{
    font-family: 'poppins';
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    color: map-get($color, dark);
}

.card{
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.site-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #6c757d;

    header{
        width: 100%;

        .line{

            height: 5px;
            width: 100%;
            background-color: map-get($color, grey );
            position: relative;

            &:before{
                position: absolute;
                content: "";
                height: 100%;
                width: 100px;
                top: 0;
                right: 0;
                background-color: map-get($color, red);
            }
        }
    }

    main{
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        .side-menu{
            width: 370px;
            height: 100%;
            overflow-x: hidden;

            transition: all 0.3s linear;

            .nav-menu{

                ul{
                    padding: 0;
                    margin: 0;

                    li{
                        list-style: none;
                        padding: 0.6rem;

                        a{
                            color: white;
                            text-decoration: none;
                            font-weight: 300;
                            @include flex-box(center, flex-start);

                            i{
                                margin-right: 1rem;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
        .collapsed{
            width: 0px;
            transition: all 0.3s linear;
        }
        .page-wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;

            .page-header{
                
            }

            .page-content{
                flex-grow: 1;
                overflow-y: scroll;
            }
        }
    }

    footer{
        width: 100%;
        height: 60px;
        background-color: blue;
    }
}

