@import url("http://fonts.cdnfonts.com/css/poppins");
.font-bold {
  font-weight: 600;
}

.font-black {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.avatar-sm {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #efefef;
}

.text-sm {
  font-size: 0.8rem;
}

.rounded-sm {
  border-radius: 4px;
}

.avatar-md {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #efefef;
}

.text-md {
  font-size: 1.2rem;
}

.rounded-md {
  border-radius: 6px;
}

.avatar-lg {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #efefef;
}

.text-lg {
  font-size: 1.6rem;
}

.rounded-lg {
  border-radius: 8px;
}

.avatar-xl {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #efefef;
}

.text-xl {
  font-size: 2rem;
}

.rounded-xl {
  border-radius: 10px;
}

.bg-primary {
  background-color: #20a8d8 !important;
}

.bg-light-primary {
  background-color: #ccecf8;
}

.text-primary {
  color: #20a8d8 !important;
}

.border-primary {
  border: 1px solid #20a8d8 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-light-secondary {
  background-color: #d8dbdd;
}

.text-secondary {
  color: #6c757d !important;
}

.border-secondary {
  border: 1px solid #6c757d !important;
}

.bg-success {
  background-color: #43a326 !important;
}

.bg-light-success {
  background-color: #b9ebaa;
}

.text-success {
  color: #43a326 !important;
}

.border-success {
  border: 1px solid #43a326 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-light-info {
  background-color: #a7e9f4;
}

.text-info {
  color: #17a2b8 !important;
}

.border-info {
  border: 1px solid #17a2b8 !important;
}

.bg-warning {
  background-color: #f8cb00 !important;
}

.bg-light-warning {
  background-color: #fff4c5;
}

.text-warning {
  color: #f8cb00 !important;
}

.border-warning {
  border: 1px solid #f8cb00 !important;
}

.bg-danger {
  background-color: #f86c6b !important;
}

.bg-light-danger {
  background-color: white;
}

.text-danger {
  color: #f86c6b !important;
}

.border-danger {
  border: 1px solid #f86c6b !important;
}

.bg-light {
  background-color: #efefef !important;
}

.bg-light-light {
  background-color: white;
}

.text-light {
  color: #efefef !important;
}

.border-light {
  border: 1px solid #efefef !important;
}

.bg-dark {
  background-color: #272727 !important;
}

.bg-light-dark {
  background-color: #8d8d8d;
}

.text-dark {
  color: #272727 !important;
}

.border-dark {
  border: 1px solid #272727 !important;
}

.bg-grey {
  background-color: #d4d4d4 !important;
}

.bg-light-grey {
  background-color: white;
}

.text-grey {
  color: #d4d4d4 !important;
}

.border-grey {
  border: 1px solid #d4d4d4 !important;
}

.bg-black {
  background-color: #222222 !important;
}

.bg-light-black {
  background-color: #888888;
}

.text-black {
  color: #222222 !important;
}

.border-black {
  border: 1px solid #222222 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-light-white {
  background-color: white;
}

.text-white {
  color: #fff !important;
}

.border-white {
  border: 1px solid #fff !important;
}

.bg-red {
  background-color: #e80000 !important;
}

.bg-light-red {
  background-color: #ffb5b5;
}

.text-red {
  color: #e80000 !important;
}

.border-red {
  border: 1px solid #e80000 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-light-transparent {
  background-color: rgba(102, 102, 102, 0);
}

.text-transparent {
  color: transparent !important;
}

.border-transparent {
  border: 1px solid transparent !important;
}

.p-1 {
  padding: 0.3rem !important;
}

.pt-1 {
  padding-top: 0.3rem !important;
}

.pr-1 {
  padding-right: 0.3rem !important;
}

.pb-1 {
  padding-bottom: 0.3rem !important;
}

.pl-1 {
  padding-left: 0.3rem !important;
}

.px-1 {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}

.py-1 {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.m-1 {
  margin: 0.3rem !important;
}

.mt-1 {
  margin-top: 0.3rem !important;
}

.mr-1 {
  margin-right: 0.3rem !important;
}

.mb-1 {
  margin-bottom: 0.3rem !important;
}

.ml-1 {
  margin-left: 0.3rem !important;
}

.mx-1 {
  margin-left: 0.3rem !important;
  margin-right: 0.3rem !important;
}

.my-1 {
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.gap-1 {
  row-gap: 0.3rem;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
}

.p-2 {
  padding: 0.6rem !important;
}

.pt-2 {
  padding-top: 0.6rem !important;
}

.pr-2 {
  padding-right: 0.6rem !important;
}

.pb-2 {
  padding-bottom: 0.6rem !important;
}

.pl-2 {
  padding-left: 0.6rem !important;
}

.px-2 {
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}

.py-2 {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

.m-2 {
  margin: 0.6rem !important;
}

.mt-2 {
  margin-top: 0.6rem !important;
}

.mr-2 {
  margin-right: 0.6rem !important;
}

.mb-2 {
  margin-bottom: 0.6rem !important;
}

.ml-2 {
  margin-left: 0.6rem !important;
}

.mx-2 {
  margin-left: 0.6rem !important;
  margin-right: 0.6rem !important;
}

.my-2 {
  margin-top: 0.6rem !important;
  margin-bottom: 0.6rem !important;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.gap-2 {
  row-gap: 0.6rem;
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
}

.p-3 {
  padding: 0.9rem !important;
}

.pt-3 {
  padding-top: 0.9rem !important;
}

.pr-3 {
  padding-right: 0.9rem !important;
}

.pb-3 {
  padding-bottom: 0.9rem !important;
}

.pl-3 {
  padding-left: 0.9rem !important;
}

.px-3 {
  padding-left: 0.9rem !important;
  padding-right: 0.9rem !important;
}

.py-3 {
  padding-top: 0.9rem !important;
  padding-bottom: 0.9rem !important;
}

.m-3 {
  margin: 0.9rem !important;
}

.mt-3 {
  margin-top: 0.9rem !important;
}

.mr-3 {
  margin-right: 0.9rem !important;
}

.mb-3 {
  margin-bottom: 0.9rem !important;
}

.ml-3 {
  margin-left: 0.9rem !important;
}

.mx-3 {
  margin-left: 0.9rem !important;
  margin-right: 0.9rem !important;
}

.my-3 {
  margin-top: 0.9rem !important;
  margin-bottom: 0.9rem !important;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.gap-3 {
  row-gap: 0.9rem;
  -moz-column-gap: 0.9rem;
       column-gap: 0.9rem;
}

.p-4 {
  padding: 1.2rem !important;
}

.pt-4 {
  padding-top: 1.2rem !important;
}

.pr-4 {
  padding-right: 1.2rem !important;
}

.pb-4 {
  padding-bottom: 1.2rem !important;
}

.pl-4 {
  padding-left: 1.2rem !important;
}

.px-4 {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.py-4 {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}

.m-4 {
  margin: 1.2rem !important;
}

.mt-4 {
  margin-top: 1.2rem !important;
}

.mr-4 {
  margin-right: 1.2rem !important;
}

.mb-4 {
  margin-bottom: 1.2rem !important;
}

.ml-4 {
  margin-left: 1.2rem !important;
}

.mx-4 {
  margin-left: 1.2rem !important;
  margin-right: 1.2rem !important;
}

.my-4 {
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.gap-4 {
  row-gap: 1.2rem;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}

.p-5 {
  padding: 1.5rem !important;
}

.pt-5 {
  padding-top: 1.5rem !important;
}

.pr-5 {
  padding-right: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 1.5rem !important;
}

.pl-5 {
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.m-5 {
  margin: 1.5rem !important;
}

.mt-5 {
  margin-top: 1.5rem !important;
}

.mr-5 {
  margin-right: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 1.5rem !important;
}

.ml-5 {
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.my-5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.gap-5 {
  row-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.p-6 {
  padding: 1.8rem !important;
}

.pt-6 {
  padding-top: 1.8rem !important;
}

.pr-6 {
  padding-right: 1.8rem !important;
}

.pb-6 {
  padding-bottom: 1.8rem !important;
}

.pl-6 {
  padding-left: 1.8rem !important;
}

.px-6 {
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
}

.py-6 {
  padding-top: 1.8rem !important;
  padding-bottom: 1.8rem !important;
}

.m-6 {
  margin: 1.8rem !important;
}

.mt-6 {
  margin-top: 1.8rem !important;
}

.mr-6 {
  margin-right: 1.8rem !important;
}

.mb-6 {
  margin-bottom: 1.8rem !important;
}

.ml-6 {
  margin-left: 1.8rem !important;
}

.mx-6 {
  margin-left: 1.8rem !important;
  margin-right: 1.8rem !important;
}

.my-6 {
  margin-top: 1.8rem !important;
  margin-bottom: 1.8rem !important;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.gap-6 {
  row-gap: 1.8rem;
  -moz-column-gap: 1.8rem;
       column-gap: 1.8rem;
}

.p-7 {
  padding: 2.1rem !important;
}

.pt-7 {
  padding-top: 2.1rem !important;
}

.pr-7 {
  padding-right: 2.1rem !important;
}

.pb-7 {
  padding-bottom: 2.1rem !important;
}

.pl-7 {
  padding-left: 2.1rem !important;
}

.px-7 {
  padding-left: 2.1rem !important;
  padding-right: 2.1rem !important;
}

.py-7 {
  padding-top: 2.1rem !important;
  padding-bottom: 2.1rem !important;
}

.m-7 {
  margin: 2.1rem !important;
}

.mt-7 {
  margin-top: 2.1rem !important;
}

.mr-7 {
  margin-right: 2.1rem !important;
}

.mb-7 {
  margin-bottom: 2.1rem !important;
}

.ml-7 {
  margin-left: 2.1rem !important;
}

.mx-7 {
  margin-left: 2.1rem !important;
  margin-right: 2.1rem !important;
}

.my-7 {
  margin-top: 2.1rem !important;
  margin-bottom: 2.1rem !important;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, auto);
}

.gap-7 {
  row-gap: 2.1rem;
  -moz-column-gap: 2.1rem;
       column-gap: 2.1rem;
}

.p-8 {
  padding: 2.4rem !important;
}

.pt-8 {
  padding-top: 2.4rem !important;
}

.pr-8 {
  padding-right: 2.4rem !important;
}

.pb-8 {
  padding-bottom: 2.4rem !important;
}

.pl-8 {
  padding-left: 2.4rem !important;
}

.px-8 {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
}

.py-8 {
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}

.m-8 {
  margin: 2.4rem !important;
}

.mt-8 {
  margin-top: 2.4rem !important;
}

.mr-8 {
  margin-right: 2.4rem !important;
}

.mb-8 {
  margin-bottom: 2.4rem !important;
}

.ml-8 {
  margin-left: 2.4rem !important;
}

.mx-8 {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}

.my-8 {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
}

.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, auto);
}

.gap-8 {
  row-gap: 2.4rem;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}

.p-9 {
  padding: 2.7rem !important;
}

.pt-9 {
  padding-top: 2.7rem !important;
}

.pr-9 {
  padding-right: 2.7rem !important;
}

.pb-9 {
  padding-bottom: 2.7rem !important;
}

.pl-9 {
  padding-left: 2.7rem !important;
}

.px-9 {
  padding-left: 2.7rem !important;
  padding-right: 2.7rem !important;
}

.py-9 {
  padding-top: 2.7rem !important;
  padding-bottom: 2.7rem !important;
}

.m-9 {
  margin: 2.7rem !important;
}

.mt-9 {
  margin-top: 2.7rem !important;
}

.mr-9 {
  margin-right: 2.7rem !important;
}

.mb-9 {
  margin-bottom: 2.7rem !important;
}

.ml-9 {
  margin-left: 2.7rem !important;
}

.mx-9 {
  margin-left: 2.7rem !important;
  margin-right: 2.7rem !important;
}

.my-9 {
  margin-top: 2.7rem !important;
  margin-bottom: 2.7rem !important;
}

.grid-9 {
  display: grid;
  grid-template-columns: repeat(9, auto);
}

.gap-9 {
  row-gap: 2.7rem;
  -moz-column-gap: 2.7rem;
       column-gap: 2.7rem;
}

.p-10 {
  padding: 3rem !important;
}

.pt-10 {
  padding-top: 3rem !important;
}

.pr-10 {
  padding-right: 3rem !important;
}

.pb-10 {
  padding-bottom: 3rem !important;
}

.pl-10 {
  padding-left: 3rem !important;
}

.px-10 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-10 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.m-10 {
  margin: 3rem !important;
}

.mt-10 {
  margin-top: 3rem !important;
}

.mr-10 {
  margin-right: 3rem !important;
}

.mb-10 {
  margin-bottom: 3rem !important;
}

.ml-10 {
  margin-left: 3rem !important;
}

.mx-10 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.my-10 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.grid-10 {
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.gap-10 {
  row-gap: 3rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.p-11 {
  padding: 3.3rem !important;
}

.pt-11 {
  padding-top: 3.3rem !important;
}

.pr-11 {
  padding-right: 3.3rem !important;
}

.pb-11 {
  padding-bottom: 3.3rem !important;
}

.pl-11 {
  padding-left: 3.3rem !important;
}

.px-11 {
  padding-left: 3.3rem !important;
  padding-right: 3.3rem !important;
}

.py-11 {
  padding-top: 3.3rem !important;
  padding-bottom: 3.3rem !important;
}

.m-11 {
  margin: 3.3rem !important;
}

.mt-11 {
  margin-top: 3.3rem !important;
}

.mr-11 {
  margin-right: 3.3rem !important;
}

.mb-11 {
  margin-bottom: 3.3rem !important;
}

.ml-11 {
  margin-left: 3.3rem !important;
}

.mx-11 {
  margin-left: 3.3rem !important;
  margin-right: 3.3rem !important;
}

.my-11 {
  margin-top: 3.3rem !important;
  margin-bottom: 3.3rem !important;
}

.grid-11 {
  display: grid;
  grid-template-columns: repeat(11, auto);
}

.gap-11 {
  row-gap: 3.3rem;
  -moz-column-gap: 3.3rem;
       column-gap: 3.3rem;
}

.p-12 {
  padding: 3.6rem !important;
}

.pt-12 {
  padding-top: 3.6rem !important;
}

.pr-12 {
  padding-right: 3.6rem !important;
}

.pb-12 {
  padding-bottom: 3.6rem !important;
}

.pl-12 {
  padding-left: 3.6rem !important;
}

.px-12 {
  padding-left: 3.6rem !important;
  padding-right: 3.6rem !important;
}

.py-12 {
  padding-top: 3.6rem !important;
  padding-bottom: 3.6rem !important;
}

.m-12 {
  margin: 3.6rem !important;
}

.mt-12 {
  margin-top: 3.6rem !important;
}

.mr-12 {
  margin-right: 3.6rem !important;
}

.mb-12 {
  margin-bottom: 3.6rem !important;
}

.ml-12 {
  margin-left: 3.6rem !important;
}

.mx-12 {
  margin-left: 3.6rem !important;
  margin-right: 3.6rem !important;
}

.my-12 {
  margin-top: 3.6rem !important;
  margin-bottom: 3.6rem !important;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, auto);
}

.gap-12 {
  row-gap: 3.6rem;
  -moz-column-gap: 3.6rem;
       column-gap: 3.6rem;
}

.p-13 {
  padding: 3.9rem !important;
}

.pt-13 {
  padding-top: 3.9rem !important;
}

.pr-13 {
  padding-right: 3.9rem !important;
}

.pb-13 {
  padding-bottom: 3.9rem !important;
}

.pl-13 {
  padding-left: 3.9rem !important;
}

.px-13 {
  padding-left: 3.9rem !important;
  padding-right: 3.9rem !important;
}

.py-13 {
  padding-top: 3.9rem !important;
  padding-bottom: 3.9rem !important;
}

.m-13 {
  margin: 3.9rem !important;
}

.mt-13 {
  margin-top: 3.9rem !important;
}

.mr-13 {
  margin-right: 3.9rem !important;
}

.mb-13 {
  margin-bottom: 3.9rem !important;
}

.ml-13 {
  margin-left: 3.9rem !important;
}

.mx-13 {
  margin-left: 3.9rem !important;
  margin-right: 3.9rem !important;
}

.my-13 {
  margin-top: 3.9rem !important;
  margin-bottom: 3.9rem !important;
}

.grid-13 {
  display: grid;
  grid-template-columns: repeat(13, auto);
}

.gap-13 {
  row-gap: 3.9rem;
  -moz-column-gap: 3.9rem;
       column-gap: 3.9rem;
}

.p-14 {
  padding: 4.2rem !important;
}

.pt-14 {
  padding-top: 4.2rem !important;
}

.pr-14 {
  padding-right: 4.2rem !important;
}

.pb-14 {
  padding-bottom: 4.2rem !important;
}

.pl-14 {
  padding-left: 4.2rem !important;
}

.px-14 {
  padding-left: 4.2rem !important;
  padding-right: 4.2rem !important;
}

.py-14 {
  padding-top: 4.2rem !important;
  padding-bottom: 4.2rem !important;
}

.m-14 {
  margin: 4.2rem !important;
}

.mt-14 {
  margin-top: 4.2rem !important;
}

.mr-14 {
  margin-right: 4.2rem !important;
}

.mb-14 {
  margin-bottom: 4.2rem !important;
}

.ml-14 {
  margin-left: 4.2rem !important;
}

.mx-14 {
  margin-left: 4.2rem !important;
  margin-right: 4.2rem !important;
}

.my-14 {
  margin-top: 4.2rem !important;
  margin-bottom: 4.2rem !important;
}

.grid-14 {
  display: grid;
  grid-template-columns: repeat(14, auto);
}

.gap-14 {
  row-gap: 4.2rem;
  -moz-column-gap: 4.2rem;
       column-gap: 4.2rem;
}

.p-15 {
  padding: 4.5rem !important;
}

.pt-15 {
  padding-top: 4.5rem !important;
}

.pr-15 {
  padding-right: 4.5rem !important;
}

.pb-15 {
  padding-bottom: 4.5rem !important;
}

.pl-15 {
  padding-left: 4.5rem !important;
}

.px-15 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.py-15 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.m-15 {
  margin: 4.5rem !important;
}

.mt-15 {
  margin-top: 4.5rem !important;
}

.mr-15 {
  margin-right: 4.5rem !important;
}

.mb-15 {
  margin-bottom: 4.5rem !important;
}

.ml-15 {
  margin-left: 4.5rem !important;
}

.mx-15 {
  margin-left: 4.5rem !important;
  margin-right: 4.5rem !important;
}

.my-15 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.grid-15 {
  display: grid;
  grid-template-columns: repeat(15, auto);
}

.gap-15 {
  row-gap: 4.5rem;
  -moz-column-gap: 4.5rem;
       column-gap: 4.5rem;
}

.p-16 {
  padding: 4.8rem !important;
}

.pt-16 {
  padding-top: 4.8rem !important;
}

.pr-16 {
  padding-right: 4.8rem !important;
}

.pb-16 {
  padding-bottom: 4.8rem !important;
}

.pl-16 {
  padding-left: 4.8rem !important;
}

.px-16 {
  padding-left: 4.8rem !important;
  padding-right: 4.8rem !important;
}

.py-16 {
  padding-top: 4.8rem !important;
  padding-bottom: 4.8rem !important;
}

.m-16 {
  margin: 4.8rem !important;
}

.mt-16 {
  margin-top: 4.8rem !important;
}

.mr-16 {
  margin-right: 4.8rem !important;
}

.mb-16 {
  margin-bottom: 4.8rem !important;
}

.ml-16 {
  margin-left: 4.8rem !important;
}

.mx-16 {
  margin-left: 4.8rem !important;
  margin-right: 4.8rem !important;
}

.my-16 {
  margin-top: 4.8rem !important;
  margin-bottom: 4.8rem !important;
}

.grid-16 {
  display: grid;
  grid-template-columns: repeat(16, auto);
}

.gap-16 {
  row-gap: 4.8rem;
  -moz-column-gap: 4.8rem;
       column-gap: 4.8rem;
}

.p-17 {
  padding: 5.1rem !important;
}

.pt-17 {
  padding-top: 5.1rem !important;
}

.pr-17 {
  padding-right: 5.1rem !important;
}

.pb-17 {
  padding-bottom: 5.1rem !important;
}

.pl-17 {
  padding-left: 5.1rem !important;
}

.px-17 {
  padding-left: 5.1rem !important;
  padding-right: 5.1rem !important;
}

.py-17 {
  padding-top: 5.1rem !important;
  padding-bottom: 5.1rem !important;
}

.m-17 {
  margin: 5.1rem !important;
}

.mt-17 {
  margin-top: 5.1rem !important;
}

.mr-17 {
  margin-right: 5.1rem !important;
}

.mb-17 {
  margin-bottom: 5.1rem !important;
}

.ml-17 {
  margin-left: 5.1rem !important;
}

.mx-17 {
  margin-left: 5.1rem !important;
  margin-right: 5.1rem !important;
}

.my-17 {
  margin-top: 5.1rem !important;
  margin-bottom: 5.1rem !important;
}

.grid-17 {
  display: grid;
  grid-template-columns: repeat(17, auto);
}

.gap-17 {
  row-gap: 5.1rem;
  -moz-column-gap: 5.1rem;
       column-gap: 5.1rem;
}

.p-18 {
  padding: 5.4rem !important;
}

.pt-18 {
  padding-top: 5.4rem !important;
}

.pr-18 {
  padding-right: 5.4rem !important;
}

.pb-18 {
  padding-bottom: 5.4rem !important;
}

.pl-18 {
  padding-left: 5.4rem !important;
}

.px-18 {
  padding-left: 5.4rem !important;
  padding-right: 5.4rem !important;
}

.py-18 {
  padding-top: 5.4rem !important;
  padding-bottom: 5.4rem !important;
}

.m-18 {
  margin: 5.4rem !important;
}

.mt-18 {
  margin-top: 5.4rem !important;
}

.mr-18 {
  margin-right: 5.4rem !important;
}

.mb-18 {
  margin-bottom: 5.4rem !important;
}

.ml-18 {
  margin-left: 5.4rem !important;
}

.mx-18 {
  margin-left: 5.4rem !important;
  margin-right: 5.4rem !important;
}

.my-18 {
  margin-top: 5.4rem !important;
  margin-bottom: 5.4rem !important;
}

.grid-18 {
  display: grid;
  grid-template-columns: repeat(18, auto);
}

.gap-18 {
  row-gap: 5.4rem;
  -moz-column-gap: 5.4rem;
       column-gap: 5.4rem;
}

.p-19 {
  padding: 5.7rem !important;
}

.pt-19 {
  padding-top: 5.7rem !important;
}

.pr-19 {
  padding-right: 5.7rem !important;
}

.pb-19 {
  padding-bottom: 5.7rem !important;
}

.pl-19 {
  padding-left: 5.7rem !important;
}

.px-19 {
  padding-left: 5.7rem !important;
  padding-right: 5.7rem !important;
}

.py-19 {
  padding-top: 5.7rem !important;
  padding-bottom: 5.7rem !important;
}

.m-19 {
  margin: 5.7rem !important;
}

.mt-19 {
  margin-top: 5.7rem !important;
}

.mr-19 {
  margin-right: 5.7rem !important;
}

.mb-19 {
  margin-bottom: 5.7rem !important;
}

.ml-19 {
  margin-left: 5.7rem !important;
}

.mx-19 {
  margin-left: 5.7rem !important;
  margin-right: 5.7rem !important;
}

.my-19 {
  margin-top: 5.7rem !important;
  margin-bottom: 5.7rem !important;
}

.grid-19 {
  display: grid;
  grid-template-columns: repeat(19, auto);
}

.gap-19 {
  row-gap: 5.7rem;
  -moz-column-gap: 5.7rem;
       column-gap: 5.7rem;
}

.p-20 {
  padding: 6rem !important;
}

.pt-20 {
  padding-top: 6rem !important;
}

.pr-20 {
  padding-right: 6rem !important;
}

.pb-20 {
  padding-bottom: 6rem !important;
}

.pl-20 {
  padding-left: 6rem !important;
}

.px-20 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.py-20 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.m-20 {
  margin: 6rem !important;
}

.mt-20 {
  margin-top: 6rem !important;
}

.mr-20 {
  margin-right: 6rem !important;
}

.mb-20 {
  margin-bottom: 6rem !important;
}

.ml-20 {
  margin-left: 6rem !important;
}

.mx-20 {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.my-20 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.grid-20 {
  display: grid;
  grid-template-columns: repeat(20, auto);
}

.gap-20 {
  row-gap: 6rem;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
}

.p-21 {
  padding: 6.3rem !important;
}

.pt-21 {
  padding-top: 6.3rem !important;
}

.pr-21 {
  padding-right: 6.3rem !important;
}

.pb-21 {
  padding-bottom: 6.3rem !important;
}

.pl-21 {
  padding-left: 6.3rem !important;
}

.px-21 {
  padding-left: 6.3rem !important;
  padding-right: 6.3rem !important;
}

.py-21 {
  padding-top: 6.3rem !important;
  padding-bottom: 6.3rem !important;
}

.m-21 {
  margin: 6.3rem !important;
}

.mt-21 {
  margin-top: 6.3rem !important;
}

.mr-21 {
  margin-right: 6.3rem !important;
}

.mb-21 {
  margin-bottom: 6.3rem !important;
}

.ml-21 {
  margin-left: 6.3rem !important;
}

.mx-21 {
  margin-left: 6.3rem !important;
  margin-right: 6.3rem !important;
}

.my-21 {
  margin-top: 6.3rem !important;
  margin-bottom: 6.3rem !important;
}

.grid-21 {
  display: grid;
  grid-template-columns: repeat(21, auto);
}

.gap-21 {
  row-gap: 6.3rem;
  -moz-column-gap: 6.3rem;
       column-gap: 6.3rem;
}

.p-22 {
  padding: 6.6rem !important;
}

.pt-22 {
  padding-top: 6.6rem !important;
}

.pr-22 {
  padding-right: 6.6rem !important;
}

.pb-22 {
  padding-bottom: 6.6rem !important;
}

.pl-22 {
  padding-left: 6.6rem !important;
}

.px-22 {
  padding-left: 6.6rem !important;
  padding-right: 6.6rem !important;
}

.py-22 {
  padding-top: 6.6rem !important;
  padding-bottom: 6.6rem !important;
}

.m-22 {
  margin: 6.6rem !important;
}

.mt-22 {
  margin-top: 6.6rem !important;
}

.mr-22 {
  margin-right: 6.6rem !important;
}

.mb-22 {
  margin-bottom: 6.6rem !important;
}

.ml-22 {
  margin-left: 6.6rem !important;
}

.mx-22 {
  margin-left: 6.6rem !important;
  margin-right: 6.6rem !important;
}

.my-22 {
  margin-top: 6.6rem !important;
  margin-bottom: 6.6rem !important;
}

.grid-22 {
  display: grid;
  grid-template-columns: repeat(22, auto);
}

.gap-22 {
  row-gap: 6.6rem;
  -moz-column-gap: 6.6rem;
       column-gap: 6.6rem;
}

.p-23 {
  padding: 6.9rem !important;
}

.pt-23 {
  padding-top: 6.9rem !important;
}

.pr-23 {
  padding-right: 6.9rem !important;
}

.pb-23 {
  padding-bottom: 6.9rem !important;
}

.pl-23 {
  padding-left: 6.9rem !important;
}

.px-23 {
  padding-left: 6.9rem !important;
  padding-right: 6.9rem !important;
}

.py-23 {
  padding-top: 6.9rem !important;
  padding-bottom: 6.9rem !important;
}

.m-23 {
  margin: 6.9rem !important;
}

.mt-23 {
  margin-top: 6.9rem !important;
}

.mr-23 {
  margin-right: 6.9rem !important;
}

.mb-23 {
  margin-bottom: 6.9rem !important;
}

.ml-23 {
  margin-left: 6.9rem !important;
}

.mx-23 {
  margin-left: 6.9rem !important;
  margin-right: 6.9rem !important;
}

.my-23 {
  margin-top: 6.9rem !important;
  margin-bottom: 6.9rem !important;
}

.grid-23 {
  display: grid;
  grid-template-columns: repeat(23, auto);
}

.gap-23 {
  row-gap: 6.9rem;
  -moz-column-gap: 6.9rem;
       column-gap: 6.9rem;
}

.p-24 {
  padding: 7.2rem !important;
}

.pt-24 {
  padding-top: 7.2rem !important;
}

.pr-24 {
  padding-right: 7.2rem !important;
}

.pb-24 {
  padding-bottom: 7.2rem !important;
}

.pl-24 {
  padding-left: 7.2rem !important;
}

.px-24 {
  padding-left: 7.2rem !important;
  padding-right: 7.2rem !important;
}

.py-24 {
  padding-top: 7.2rem !important;
  padding-bottom: 7.2rem !important;
}

.m-24 {
  margin: 7.2rem !important;
}

.mt-24 {
  margin-top: 7.2rem !important;
}

.mr-24 {
  margin-right: 7.2rem !important;
}

.mb-24 {
  margin-bottom: 7.2rem !important;
}

.ml-24 {
  margin-left: 7.2rem !important;
}

.mx-24 {
  margin-left: 7.2rem !important;
  margin-right: 7.2rem !important;
}

.my-24 {
  margin-top: 7.2rem !important;
  margin-bottom: 7.2rem !important;
}

.grid-24 {
  display: grid;
  grid-template-columns: repeat(24, auto);
}

.gap-24 {
  row-gap: 7.2rem;
  -moz-column-gap: 7.2rem;
       column-gap: 7.2rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-start li {
  margin-right: 2rem;
  list-style: none;
}
.flex-start li:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e80000;
  border-radius: 50%;
  margin-right: 1rem;
}
.flex-start li a {
  font-weight: 500;
  color: #222222;
  text-decoration: none;
}

.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

body {
  font-family: "poppins";
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #272727;
}

.card {
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.site-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #6c757d;
}
.site-wrapper header {
  width: 100%;
}
.site-wrapper header .line {
  height: 5px;
  width: 100%;
  background-color: #d4d4d4;
  position: relative;
}
.site-wrapper header .line:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100px;
  top: 0;
  right: 0;
  background-color: #e80000;
}
.site-wrapper main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
.site-wrapper main .side-menu {
  width: 370px;
  height: 100%;
  overflow-x: hidden;
  transition: all 0.3s linear;
}
.site-wrapper main .side-menu .nav-menu ul {
  padding: 0;
  margin: 0;
}
.site-wrapper main .side-menu .nav-menu ul li {
  list-style: none;
  padding: 0.6rem;
}
.site-wrapper main .side-menu .nav-menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.site-wrapper main .side-menu .nav-menu ul li a i {
  margin-right: 1rem;
  font-size: 1.2rem;
}
.site-wrapper main .collapsed {
  width: 0px;
  transition: all 0.3s linear;
}
.site-wrapper main .page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.site-wrapper main .page-wrapper .page-content {
  flex-grow: 1;
  overflow-y: scroll;
}
.site-wrapper footer {
  width: 100%;
  height: 60px;
  background-color: blue;
}/*# sourceMappingURL=style.css.map */